{% extends 'base.html.twig' %}

{% block title %}- Nouveau créneau horaire{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            {% block viewTitle %}
            <h1>Gestion du créneau horaire</h1>
            {% endblock %}
            {{ form_start(form) }}
            {{ form_row(form.start) }}
            {{ form_row(form.end) }}
            {{ form_row(form.price) }}
            <div class="col-12 text-center">
                {{ form_row(form.submit) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>



{% endblock %}
