{% extends 'base.html.twig' %}

{% block title %}- Nouvelle zone{% endblock %}

{% block body %}
    <h1>Gestion d'une zone</h1>

    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.price) }}
    {{ form_row(form.submit) }}
    {{ form_end(form) }}



{% endblock %}
